// Main Navigation -- Start
nav {
    background-color: #ee4d43;
    background-image: linear-gradient(to left, #ff8982 0%, #ee4d43 100%);
    .nav__items {
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav__item {
        position: relative;
    }
    a {
        font: 400 15px "Open Sans", sans-serif;
        color: #fffefe;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.75px;
        text-decoration: none;
        float: left;
        margin-right: 100px;
        &.active + .line::before {
            background-color: #c32026;
        }
        @media (min-width: 1200px) {
            &:hover + .line {
                transform: translateX(-6px);
                width: 6px;
                right: 80px;
            }
        }
    }
    .line {
        width: 70px;
        height: 1px;
        background-color: #eeeff1;
        display: inline-block;
        position: absolute;
        right: 16px;
        top: 11px;
        transition: all .3s;
        &::before,
        &::after {
            content: '';
            width: 6px;
            height: 6px;
            background-color: #eeeff1;
            display: block;
            position: absolute;
            border: 1px solid #eeeff1;
            border-radius: 50%;
            top: -2px;
        }
        &::before {
            left: 0;
            z-index: 1;
        }
        &::after {
            right: 0;
            z-index: 0;
        }
    }
}
}
// Main Navigation -- End

// Header -- Start
header {
    background-color: #eeeff1;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        &::before,
        &::after {
            display: none;
        }
    }
    .header-contacts {
        &__item {
            display: inline-flex;
            align-items: center;
            font: 300 15px "Open Sans", sans-serif;
            color: #000000;
            letter-spacing: 0.75px;
            margin-left: 55px;
            img {
                margin-right: 9px;
                margin-top: 2px;
            }
            a {
                color: inherit;
                text-decoration: none;
                display: inline-block;
            }
        }
        .phone {
            font-weight: 800;
            font-size: 18px;
        }
    }
}
// Header -- End

// Banner at the top page -- Start
.index-banner {
    background-color: #eeeff1;
    padding-top: 130px;
    padding-bottom: 75px;
    position: relative;
    &__background {
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
    }
    &__content {
        width: 520px;
        float: left;
        text-align: left;
        color: #000000;
    }
    &__title {
        font: bold 42px/48px 'MetaPro', sans-serif;
    }
    &__subtitle {
        font: 400 15px/26px "Open Sans", sans-serif;
        margin-top: 45px;
        display: inline-block;
        position: relative;
    }
    .btn-container {
        margin-top: 56px;
        .btn-default {
            margin-right: 40px;
        }
    }
    &__scroll-icon {
        width: 40px;
        text-align: center;
        margin: 65px auto 0;
        img {
            animation: slide-mouse .8s infinite linear alternate;
        }
        p {
            font: 400 9px "Roboto", sans-serif;
            color: #5f6061;
            text-align: center;
            // color: #babcbe;
        }
    }
}
@keyframes slide-mouse {
    from { transform: translateY(-5px); }
    50%  { transform: translateY(-2px); }
    to   { transform: translateY(1px);  }
}
// Banner at the top page -- End

// Section Tires and wheels -- Start
.tires-and-wheels {
    .tires-and-wheels__items {
        height: 375px;
        position: relative;
        margin-top: 90px;
        margin-bottom: 90px;
        display: flex;
        align-items: center;
    }
    .tractor {
        width: 341px;
        height: 260px;
        position: absolute;
        right: 80px;
        z-index: 2;
        &::before,
        &::after {
            display: none;
        }
    }
    .track {
        left: 0;
        z-index: 1;
        width: 341px;
        height: 260px;
        position: absolute;
        &::before,
        &::after {
            display: none;
        }
    }
    .bus {
        width: 438px;
        height: 334px;
        position: absolute;
        left: 285px;
        z-index: 2;
        &::before,
        &::after {
            display: none;
        }
    }
    .front {
        width: 275px;
        height: 377px;
        background-color: #ee4d43;
        position: absolute;
        left: 671px;
        z-index: 3;
        &::before,
        &::after {
            display: none;
        }
        .btn-default-emty {
            margin-left: 28px;
        }
    }
    .combine {
        width: 251px;
        height: 192px;
        position: absolute;
        right: 0;
        z-index: 1;
        &::before,
        &::after {
            display: none;
        }
    }
    .tires-and-wheels__item-mark {
        background-color: #babcbe;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        color: #fffefe;
        font-family: 'MetaPro', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        position: absolute;
    }
    .tractor .tires-and-wheels__item-mark {
        width: 260px;
        height: 65px;
        right: 0;
        font-size: 21px;
        transform: rotate(-90deg) translateY(98px) translateX(-97px);
    }
    .track .tires-and-wheels__item-mark {
        width: 260px;
        height: 65px;
        left: 0;
        font-size: 24px;
        transform: rotate(-90deg) translateY(-97px) translateX(-97px);
    }
    .combine .tires-and-wheels__item-mark {
        right: 0;
        width: 192px;
        height: 49px;
        background-color: #d0d0d0;
        font-size: 16px;
        transform: rotate(-90deg) translateY(97px) translateX(-71px);
    }
    .tires-and-wheels__item-title {
        color: #fffefe;
        font-family: 'MetaPro', sans-serif;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 21px;
        padding-bottom: 20px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 58px;
            height: 2px;
            background-color: #ffffff;
            bottom: 0;
            left: 28px;
        }
    }
    .tires-and-wheels__item-subtitle {
        color: #fffefe;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 21px;
        text-align: left;
        padding: 20px 45px 34px 28px;
    }
}
// Section Tires and wheels -- End

// Section Posts -- Start
.posts {
    height: 214px;
    background-image: linear-gradient(to left, #efefef 0%, #d0d0d0 100%);
    .container {
        min-height: 214px;
    }
    &-background {
        position: absolute;
        left: 95px;
        bottom: 3px;
    }
    &-content {
        left: 50%;
        position: absolute;
    }
    &-content__title {
        color: #000000;
        font-family: 'MetaPro', sans-serif;
        font-size: 42px;
        font-weight: 700;
        margin-top: 30px;
    }

    &-content__descriptin {
        margin: 12px 0;
    }
    &-content__descriptin li {
        color: #000000;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 21px;
        position: relative;
        padding-left: 10px;
        margin-left: 35px;
        &::before {
            content: '';
            display: block;
            width: 4px;
            height: 4px;
            background: #000000;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .base-anchor {
        margin-left: 35px;
    }
}
// Section Posts -- End

// Section material -- Start
.material {
    background-color: #eeeff1;
    position: relative;
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before,
        &::after {
            display: none;
        }
    }
    padding: 80px 0;
    &-title {
        color: #000000;
        font-family: 'MetaPro', sans-serif;
        font-size: 42px;
        font-weight: 700;
        text-align: center;
        max-width: 650px;
        display: block;
        position: relative;
        margin: 0 auto 50px;
    }
    &__item {
        display: block;
        &_passive {
            background-color: #babcbe;
            padding: 22px 30px 24px;
            width: 315px;
            position: relative;
            .material__title::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 83px;
                height: 2px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
            }
            .material__title::before {
                display: none;
            }
        }
        &_active {
            width: 380px;
            box-shadow: 3px 3px 8px rgba(238, 77, 67, 0.25);
            background-color: #ee4d43;
            padding: 30px;
            .material__title::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 0;
                width: 100px;
                height: 2px;
                background-color: #fff;
                left: 50%;
                transform: translateX(-50%);
            }
            .material__title::before {
                display: none;
            }
        }
    }
    &__item.rubbers &__title{
        padding-bottom: 27px;
        margin-bottom: 20px;
    }
    &__item.carbon &__title{
        padding-bottom: 28px;
        margin-bottom: 23px;
    }
    &__item.material &__title{
        padding-bottom: 17px;
        margin-bottom: 20px;
    }
    &__title {
        color: #fffefe;
        text-align: center;
        font-family: 'MetaPro', sans-serif;
        font-weight: 700;
        text-align: center;
        max-width: 650px;
        display: block;
        position: relative;
        margin: 0 auto;
    }
    &__item_passive h3 {
        font-size: 35px;
        line-height: 29.74px;
    }
    &__item_active h3 {
        font-size: 42px;
        line-height: 36px;
    }
    &__icon {
        display: block;
        margin: 0 auto 17px;
    }
    &__description {
        text-align: center;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
    }
    &__item_active &__description {
        font-size: 15px;
        line-height: 21px;
    }
    &__item_passive &__description {
        font-size: 12px;
        line-height: 17.35px;
    }
    &__description-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        li {
            color: #ffffff;
            font-family: "Open Sans", sans-serif;
            font-size: 12px;
            font-weight: 600;
            line-height: 17.35px;
            display: inline-block;
            position: relative;
            padding-left: 7px;
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 3px;
                height: 3px;
                background-color: #fff;
                border-radius: 50%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin-top: 27px;
    }
    &__item_passive &__button a {
        box-shadow: none;
        font-size: 12px;
        padding: 0 31px 0 31px;
        height: 47px;
        line-height: 45px;
    }
    &__arr {
        width: 30px;
        height: 30px;
        position: absolute;
        top: calc(50% + 87px);
        left: 50%;
        transform: translateY(-50%);
        z-index: 99;
        cursor: pointer;
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__arr_left {
        margin-left: -261px;
        &:hover{
            margin-left: -264px;
        }
    }
    &__arr_right {
        margin-left: 232px;
        &:hover{
            margin-left: 235px;
        }
    }
}
// Section material -- End
