// INCLUDING FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');

@font-face {
  font-family: 'MetaPro';
  src: url('/fonts/MetaPro-Bold/MetaPro-Bold.eot');
  src: url('/fonts/MetaPro-Bold/MetaPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/MetaPro-Bold/MetaPro-Bold.svg#MetaPro-Bold') format('svg'),
       url('/fonts/MetaPro-Bold/MetaPro-Bold.ttf') format('truetype'),
       url('/fonts/MetaPro-Bold/MetaPro-Bold.woff') format('woff'),
       url('/fonts/MetaPro-Bold/MetaPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
    overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
}
.container {
    width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
}

.clearfix {
    &::before,
    &::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
}

// Default buttons
.btn-default {
    box-shadow: 3px 3px 8px rgba(255, 93, 83, 0.35);
    border-radius: 999px;
    padding: 0 38px 0 37px;
    background-color: #ee4d43;
    height: 55px;
    font: 700 15px/55px "Open Sans", sans-serif;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    span {
        display: inline-block;
        position: relative;
        z-index: 30;
    }
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 999px;
        transition: all .3s;
        opacity: 0;
    }
    &::before {
        background-image: linear-gradient(to right, #e40f00 0%, #ee4d43 100%);
        z-index: 5;
    }
    &::after {
        background-color: #e40f00;
        z-index: 10;
    }
    @media (min-width: 1200px) {
        &:hover::before{
            opacity: 1;
        }
        &:active::after{
            opacity: 1;
        }
    }
}
.btn-default-lite {
    box-shadow: 3px 3px 8px rgba(255, 93, 83, 0.35);
    border-radius: 999px;
    padding: 0 38px 0 37px;
    height: 55px;
    font: 700 15px/55px "Open Sans", sans-serif;
    display: inline-block;
    color: #ee4d43;
    border: 1px solid #ee4d43;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    background-color: #eeeff1;
    span {
        display: inline-block;
        position: relative;
        z-index: 30;
    }
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 999px;
        transition: all .3s;
        opacity: 0;
    }
    &::before {
        background-image: linear-gradient(to right, #ffffff 0%, #eeeff1 100%);
        z-index: 5;
    }
    &::after {
        z-index: 10;
        background-color: #ffffff;
    }
    @media (min-width: 1200px) {
        &:hover::before{
            opacity: 1;
        }
        &:active::after{
            opacity: 1;
        }
    }
}
.btn-default-emty {
    border-radius: 999px;
    border: 1px solid white;
    padding: 0 38px 0 37px;
    background-color: transparent;
    height: 55px;
    font: 700 15px/55px "Open Sans", sans-serif;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    span {
        display: inline-block;
        position: relative;
        z-index: 30;
    }
}
.btn-dark {
    background-color: #e40f00;
}


// Anchors
.base-anchor {
    color: #ee4d43;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    position: relative;
    &:hover {
        text-decoration: none;
    }
}
.anchor-arrow {
    width: 18px;
    height: 2px;
    background-color: #ee4d43;
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
    animation: arrow-moove .5s infinite linear alternate;
    &::before,
    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 2px;
        background-color: rgb(238, 77, 67);
        position: absolute;
        right: 0;
        top: 50%;

    }
    &::before {
        transform: translateY(-3px) rotate(40deg);
    }
    &::after {
        transform: translateY(1px) rotate(-40deg);
    }
}
@keyframes arrow-moove {
    from { transform: translateX(-1px); }
    50%  { transform: translateX(0px); }
    to   { transform: translateX(3px);  }
}
.anchor-target {
    position: absolute;
    top: -55x;
    display: block;
}

/* placeholder styles for input and textarea */
             input::placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
    input:-ms-input-placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
   input::-ms-input-placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
          textarea::placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
 textarea:-ms-input-placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
textarea::-ms-input-placeholder {color: #d5d5d5; opacity: 1; transition: opacity 0.3s ease; font-weight: 400;}
/* Smooth disappearance of placeholder */
             input:focus::placeholder {opacity: 0; transition: opacity 0.3s ease;}
    input:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
   input:focus::-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
          textarea:focus::placeholder {opacity: 0; transition: opacity 0.3s ease;}
 textarea:focus:-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-ms-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
